@model Store.Entities.Blog
@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div class="row gutter-lg">
        <div class="main-content post-single-content">
            <div class="post post-grid post-single">
                <figure class="post-media br-sm">
                    <img src="@Model.ImageFile" alt="Blog" width="930" height="500">
                </figure>
                <div class="post-details">
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">@Model.CreatedOn.ToShortDateString()</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>0</span>Comments</a>
                    </div>
                    <h2 class="post-title"><a href="#">@Model.Name</a></h2>
                    <div class="post-content">
                      @Model.Description

                    </div>
                </div>
            </div>
           
            <!-- End Post Author Detail -->
            <div class="post-navigation">
                <div class="nav nav-prev">
                    <a href="#" class="align-items-start text-left">
                        <span><i class="w-icon-long-arrow-left"></i>previous post</span>
                        <span class="nav-content mb-0 text-normal">Vivamus vestibulum ntulla nec ante</span>
                    </a>
                </div>
                <div class="nav nav-next">
                    <a href="#" class="align-items-end text-right">
                        <span>next post<i class="w-icon-long-arrow-right"></i></span>
                        <span class="nav-content mb-0 text-normal">Fusce lacinia arcuet nulla</span>
                    </a>
                </div>
            </div>
            <!-- End Post Navigation -->
            <h4 class="title title-lg font-weight-bold mt-10 pt-1 mb-5">Related Posts</h4>
            <div class="post-slider owl-carousel owl-theme owl-nav-top pb-2 owl-loaded owl-drag" data-owl-options="{
                                'nav': true,
                                'dots': false,
                                'margin': 20,
                                'responsive': {
                                    '0': {
                                        'items': 1
                                    },
                                    '576': {
                                        'items': 2
                                    },
                                    '768': {
                                        'items': 3
                                    },
                                    '992': {
                                        'items': 2
                                    },
                                    '1200': {
                                        'items': 3
                                    }
                                }
                            }">




                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1267px;">
                        <div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="post post-grid">
                                <figure class="post-media br-sm">
                                    <a href="post-single.html">
                                        <img src="assets\images\blog\single\2.jpg" alt="Post" width="296" height="190" style="background-color: #bcbcb4;">
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        by <a href="#" class="post-author">Logan Cee</a>
                                        - <a href="#" class="post-date">03.05.2021</a>
                                    </div>
                                    <h4 class="post-title mb-3"><a href="post-single.html">Fashion tell about who you are from...</a></h4>
                                    <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="post post-grid">
                                <figure class="post-media br-sm">
                                    <a href="post-single.html">
                                        <img src="assets\images\blog\single\3.jpg" alt="Post" width="296" height="190" style="background-color: #cad2d1;">
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        by <a href="#" class="post-author">Hilary Kreton</a>
                                        - <a href="#" class="post-date">03.05.2021</a>
                                    </div>
                                    <h4 class="post-title mb-3"><a href="post-single.html">Comes a cool blog post with Images</a></h4>
                                    <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 296.667px; margin-right: 20px;">
                            <div class="post post-grid">
                                <figure class="post-media br-sm">
                                    <a href="post-single.html">
                                        <img src="assets\images\blog\single\4.jpg" alt="Post" width="296" height="190" style="background-color: #ececec;">
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        by <a href="#" class="post-author">Casper Dailn</a>
                                        - <a href="#" class="post-date">03.05.2021</a>
                                    </div>
                                    <h4 class="post-title mb-3"><a href="post-single.html">Comes a cool blog post with Images</a></h4>
                                    <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 296.667px; margin-right: 20px;">
                            <div class="post post-grid">
                                <figure class="post-media br-sm">
                                    <a href="post-single.html">
                                        <img src="assets\images\blog\single\5.jpg" alt="Post" width="296" height="190" style="background-color: #AFAFAF;">
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        by <a href="#" class="post-author">John Doe</a>
                                        - <a href="#" class="post-date">03.05.2021</a>
                                    </div>
                                    <h4 class="post-title mb-3"><a href="post-single.html">We want to be different and fashion gives to me that outlet</a></h4>
                                    <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">Read More<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="w-icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="w-icon-angle-right"></i></button></div><div class="owl-dots disabled"></div>
            </div>
            <!-- End Related Posts -->

            <h4 class="title title-lg font-weight-bold pt-1 mt-10">3 Comments</h4>
            <ul class="comments list-style-none pl-0">
                <li class="comment">
                    <div class="comment-body">
                        <figure class="comment-avatar">
                            <img src="assets\images\blog\single\1.png" alt="Avatar" width="90" height="90">
                        </figure>
                        <div class="comment-content">
                            <h4 class="comment-author font-weight-bold">
                                <a href="#">John Doe</a>
                                <span class="comment-date">Aug 23, 2021 at 10:46 am</span>
                            </h4>
                            <p>
                                Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.arcu fer
                                ment umet, dapibus sed, urna.
                            </p>
                            <a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">Reply<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-body">
                        <figure class="comment-avatar">
                            <img src="assets\images\blog\single\2.png" alt="Avatar" width="90" height="90">
                        </figure>
                        <div class="comment-content">
                            <h4 class="comment-author font-weight-bold">
                                <a href="#">Semi Colon</a>
                                <span class="comment-date">Aug 24, 2021 at 13:25 am</span>
                            </h4>
                            <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales.</p>
                            <a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">Reply<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="comment">
                    <div class="comment-body">
                        <figure class="comment-avatar">
                            <img src="assets\images\blog\single\1.png" alt="Avatar" width="90" height="90">
                        </figure>
                        <div class="comment-content">
                            <h4 class="comment-author font-weight-bold">
                                <a href="#">John Doe</a>
                                <span class="comment-date">Aug 23, 2021 at 10:46 am</span>
                            </h4>
                            <p>
                                Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.arcu fer
                                ment umet, dapibus sed, urna.
                            </p>
                            <a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">Reply<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- End Comments -->
            <form class="reply-section pb-4">
                <h4 class="title title-md font-weight-bold pt-1 mt-10 mb-0">Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked</p>
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <input type="text" class="form-control" placeholder="Enter Your Name" id="name">
                    </div>
                    <div class="col-sm-6 mb-4">
                        <input type="text" class="form-control" placeholder="Enter Your Email" id="email_1">
                    </div>
                </div>
                <textarea cols="30" rows="6" placeholder="Write a Comment" class="form-control mb-4" id="comment"></textarea>
                <button class="btn btn-dark btn-rounded btn-icon-right btn-comment">Post Comment<i class="w-icon-long-arrow-right"></i></button>
            </form>
        </div>
        <!-- End of Main Content -->
        <aside class="sidebar right-sidebar blog-sidebar sidebar-fixed sticky-sidebar-wrapper">
            <div class="sidebar-overlay">
                <a href="#" class="sidebar-close">
                    <i class="close-icon"></i>
                </a>
            </div>
            <a href="#" class="sidebar-toggle">
                <i class="fas fa-chevron-left"></i>
            </a>
            <div class="sidebar-content">
                <div class="pin-wrapper" style="height: 1474.23px;">
                    <div class="sticky-sidebar sticky-sidebar-fixed" style="border-bottom: 0px none rgb(102, 102, 102); width: 280px; position: absolute; top: 720px;">
                        <div class="widget widget-search-form">
                            <div class="widget-body">
                                <form action="#" method="GET" class="input-wrapper input-wrapper-inline">
                                    <input type="text" class="form-control" placeholder="Search in Blog" autocomplete="off" required="">
                                    <button class="btn btn-search"><i class="w-icon-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- End of Widget search form -->
                        <div class="widget widget-categories">
                            <h3 class="widget-title bb-no mb-0">Categories</h3>
                            <ul class="widget-body filter-items search-ul">
                                <li><a href="blog.html">Clothes</a></li>
                                <li><a href="blog.html">Entertainment</a></li>
                                <li><a href="blog.html">Fashion</a></li>
                                <li><a href="blog.html">Lifestyle</a></li>
                                <li><a href="blog.html">Others</a></li>
                                <li><a href="blog.html">Shoes</a></li>
                                <li><a href="blog.html">Technology</a></li>
                            </ul>
                        </div>
                        <!-- End of Widget categories -->
                        <div class="widget widget-posts">
                            <h3 class="widget-title bb-no">Popular Posts</h3>
                            <div class="widget-body">
                                <div class="owl-carousel owl-theme owl-nav-top owl-loaded owl-drag" data-owl-options="{
                                                'nav': true,
                                                'dots': false,
                                                'margin': 20
                                            }">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 600px;">
                                            <div class="owl-item active" style="width: 280px; margin-right: 20px;">
                                                <div class="widget-col">
                                                    <div class="post-widget mb-4">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\1.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 1, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">Fashion tells about who you are from external point</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="post-widget mb-4">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\2.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 5, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">New found the men dress for summer</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="post-widget mb-2">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\3.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 1, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">Cras ornare tristique elit</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 280px; margin-right: 20px;">
                                                <div class="widget-col">
                                                    <div class="post-widget mb-4">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\4.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 1, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">Vivamus vestibulum ntulla nec ante</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="post-widget mb-4">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\5.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 5, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">Fusce lacinia arcuet nulla</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="post-widget mb-2">
                                                        <figure class="post-media br-sm">
                                                            <img src="assets\images\blog\sidebar\6.jpg" alt="Blog" width="150" height="150">
                                                        </figure>
                                                        <div class="post-details">
                                                            <div class="post-meta">
                                                                <a href="#" class="post-date">March 1, 2021</a>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="post-single.html">Comes a cool blog post with Images</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="w-icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="w-icon-angle-right"></i></button></div><div class="owl-dots disabled"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Widget posts -->
                        <div class="widget widget-custom-block">
                            <h3 class="widget-title bb-no">Custom Block</h3>
                            <div class="widget-body">
                                <p class="text-default mb-0">
                                    Fringilla urna porttitor rhoncus dolor purus.
                                    Luctus veneneratis lectus magna fring.
                                    Suspendisse potenti. Sed egestas, ante et
                                    vulputate volutpat, uctus metus libero.
                                </p>
                            </div>
                        </div>
                        <!-- End of Widget custom block -->
                        <div class="widget widget-tags">
                            <h3 class="widget-title bb-no">Browse Tags</h3>
                            <div class="widget-body tags">
                                <a href="#" class="tag">Fashion</a>
                                <a href="#" class="tag">Style</a>
                                <a href="#" class="tag">Travel</a>
                                <a href="#" class="tag">Women</a>
                                <a href="#" class="tag">Men</a>
                                <a href="#" class="tag">Hobbies</a>
                                <a href="#" class="tag">Shopping</a>
                                <a href="#" class="tag">Photography</a>
                            </div>
                        </div>
                        <div class="widget widget-calendar">
                            <h3 class="widget-title bb-no">Calendar</h3>
                            <div class="widget-body">
                                <div class="calendar-container" data-calendar-options="{
                                                'dayExcerpt': 1
                                            }"><div class="calendar"><div class="calendar-header"><a href="#" class="btn-calendar btn-calendar-prev"><i class="la la-angle-left"></i></a><span class="calendar-title">August 2021</span><a href="#" class="btn-calendar btn-calendar-next"><i class="la la-angle-right"></i></a></div><table><thead><th class="holiday">s</th><th>m</th><th>t</th><th>w</th><th>t</th><th>f</th><th>s</th></thead><tbody><tr><td><span class="day" data-date="2021-07-31T23:00:00.000Z">1</span></td><td><span class="day" data-date="2021-08-01T23:00:00.000Z">2</span></td><td><span class="day" data-date="2021-08-02T23:00:00.000Z">3</span></td><td><span class="day" data-date="2021-08-03T23:00:00.000Z">4</span></td><td><span class="day" data-date="2021-08-04T23:00:00.000Z">5</span></td><td><span class="day" data-date="2021-08-05T23:00:00.000Z">6</span></td><td><span class="day" data-date="2021-08-06T23:00:00.000Z">7</span></td></tr><tr><td><span class="day today" data-date="2021-08-07T23:00:00.000Z">8</span></td><td><span class="day" data-date="2021-08-08T23:00:00.000Z">9</span></td><td><span class="day" data-date="2021-08-09T23:00:00.000Z">10</span></td><td><span class="day" data-date="2021-08-10T23:00:00.000Z">11</span></td><td><span class="day" data-date="2021-08-11T23:00:00.000Z">12</span></td><td><span class="day" data-date="2021-08-12T23:00:00.000Z">13</span></td><td><span class="day" data-date="2021-08-13T23:00:00.000Z">14</span></td></tr><tr><td><span class="day" data-date="2021-08-14T23:00:00.000Z">15</span></td><td><span class="day" data-date="2021-08-15T23:00:00.000Z">16</span></td><td><span class="day" data-date="2021-08-16T23:00:00.000Z">17</span></td><td><span class="day" data-date="2021-08-17T23:00:00.000Z">18</span></td><td><span class="day" data-date="2021-08-18T23:00:00.000Z">19</span></td><td><span class="day" data-date="2021-08-19T23:00:00.000Z">20</span></td><td><span class="day" data-date="2021-08-20T23:00:00.000Z">21</span></td></tr><tr><td><span class="day" data-date="2021-08-21T23:00:00.000Z">22</span></td><td><span class="day" data-date="2021-08-22T23:00:00.000Z">23</span></td><td><span class="day" data-date="2021-08-23T23:00:00.000Z">24</span></td><td><span class="day" data-date="2021-08-24T23:00:00.000Z">25</span></td><td><span class="day" data-date="2021-08-25T23:00:00.000Z">26</span></td><td><span class="day" data-date="2021-08-26T23:00:00.000Z">27</span></td><td><span class="day" data-date="2021-08-27T23:00:00.000Z">28</span></td></tr><tr><td><span class="day" data-date="2021-08-28T23:00:00.000Z">29</span></td><td><span class="day" data-date="2021-08-29T23:00:00.000Z">30</span></td><td><span class="day" data-date="2021-08-30T23:00:00.000Z">31</span></td><td><span class="day disabled" data-date="2021-08-31T23:00:00.000Z">1</span></td><td><span class="day disabled" data-date="2021-09-01T23:00:00.000Z">2</span></td><td><span class="day disabled" data-date="2021-09-02T23:00:00.000Z">3</span></td><td><span class="day disabled" data-date="2021-09-03T23:00:00.000Z">4</span></td></tr></tbody></table></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>